additionalParameters_mailofrussiaSenderIndex = "Почтовый индекс"
additionalParameters_mailofrussiaSenderRegion = "Регион"
additionalParameters_mailofrussiaSenderAddress = "Адрес плательщика"
additionalParameters_mailofrussiaSenderName = "ФИО плательщика"
additionalParameters_rapidaPhone = "Номер телефона"
additionalParameters_notificationEmail = "E-Mail для уведомлений"
