monetasdk_kassa_enabled = "1"
monetasdk_kassa_type = "atolonline"
monetasdk_kassa_inn = ""
monetasdk_kassa_address = "http://your_site_url.com"
monetasdk_kassa_company_email = ""
monetasdk_kassa_sno_system = "osn"
monetasdk_kassa_vat_type = "vat20"
monetasdk_kassa_payment_method = "full_payment"
monetasdk_kassa_payment_object = "payment"
monetasdk_kassa_module_api_url = "http://demo-fn.avanpos.com/fn"
monetasdk_kassa_module_uuid = ""
monetasdk_kassa_module_login = ""
monetasdk_kassa_module_password = ""
monetasdk_kassa_atol_api_url = "https://online.atol.ru/possystem"
monetasdk_kassa_atol_api_version = "v4"
monetasdk_kassa_atol_login = ""
monetasdk_kassa_atol_password = ""
monetasdk_kassa_atol_group_code = ""
monetasdk_kassa_starrys_api_url = ""
monetasdk_kassa_starrys_api_version = ""
monetasdk_kassa_starrys_client_id = ""
monetasdk_kassa_starrys_cert_name = ""
monetasdk_kassa_starrys_tax_mode = ""
monetasdk_kassa_buhsoft_api_url = ""
monetasdk_kassa_buhsoft_token = ""
cert_files_path = "moneta-sdk-lib/files/certs"
libs_files_path = "moneta-sdk-lib/libs"
